[submodule "EsKaye"]
	path = EsKaye
	url = https://github.com/EsKaye/EsKaye
[submodule "Empath"]
	path = Empath
	url = https://github.com/EsKaye/Empath
[submodule "Purrify"]
	path = Purrify
	url = https://github.com/EsKaye/Purrify
[submodule "MatrixOS-Layer0"]
	path = MatrixOS-Layer0
	url = https://github.com/MKWorldWide/MatrixOS-Layer0
[submodule "MKronoSphere"]
	path = MKronoSphere
	url = https://github.com/MKWorldWide/MKronoSphere
[submodule "NovaTiny"]
	path = NovaTiny
	url = https://github.com/MKWorldWide/NovaTiny
[submodule "Primal-Genesis-Engine-Sovereign"]
	path = Primal-Genesis-Engine-Sovereign
	url = https://github.com/MKWorldWide/Primal-Genesis-Engine-Sovereign
[submodule "Project-LOWKEY"]
	path = Project-LOWKEY
	url = https://github.com/MKWorldWide/Project-LOWKEY
[submodule "GameDin"]
	path = GameDin
	url = https://github.com/MKWorldWide/GameDin
[submodule "Lilybear"]
	path = Lilybear
	url = https://github.com/MKWorldWide/Lilybear
[submodule "AthenaMyst_Host"]
	path = AthenaMyst_Host
	url = https://github.com/MKWorldWide/AthenaMyst_Host
[submodule "NovaSanctum"]
	path = NovaSanctum
	url = https://github.com/MKWorldWide/NovaSanctum
[submodule "WhispurrNet"]
	path = WhispurrNet
	url = https://github.com/MKWorldWide/WhispurrNet
